<app-header></app-header>
<main>
 <div class="container">
  
   <div class="row">
     <div class="col-md-2">
       <a style="margin-left: 0;" (click)="onAddUer()" matTooltip="Add User"><img src="./../assets/add-user.png" style="margin-left: 50px; margin-bottom: 6px;"></a>
       <!-- <button type="button" class="btn btn-primary"><h5><strong>Add User</strong><mat-icon>add</mat-icon></h5></button> -->
       
       <!-- <button type="button" class="btn btn-primary">+ User</button> -->
       <ul id="users" style="margin-left: 0;">
         @for (user of users; track user.id){
           <li>
             <app-user [user]="user" [selected]="user.id === selectedId" (select)="onSelectUser($event)"></app-user>
           </li>
         }
       </ul>
     </div>
     
     <div class="col-md-10" style="padding-top: 40px;">
   
       @if(selectedUser){
         <app-tasks [userId]="selectedUser.id"[name]="selectedUser.name"></app-tasks>
       }@else {
         <p>Select a user to see their tasks!</p>
       }
     </div>
   </div>
 </div>
</main>
<!-- <button type="button" class="btn btn-primary">Primary</button>
<div class="table-responsive table-responsive-scrollbar-top"></div>
  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="background-color: aliceblue;">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <ng-container matColumnDef="position1">
        <th mat-header-cell *matHeaderCellDef> No1. </th>
        <td mat-cell *matCellDef="let element"> {{element.position1}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name1">
        <th mat-header-cell *matHeaderCellDef> Name1 </th>
        <td mat-cell *matCellDef="let element"> {{element.name1}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="weight1">
        <th mat-header-cell *matHeaderCellDef> Weight1 </th>
        <td mat-cell *matCellDef="let element"> {{element.weight1}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="symbol1">
        <th mat-header-cell *matHeaderCellDef> Symbol1 </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol1}} </td>
      </ng-container>

      <ng-container matColumnDef="position2">
        <th mat-header-cell *matHeaderCellDef> No2. </th>
        <td mat-cell *matCellDef="let element"> {{element.position2}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name2">
        <th mat-header-cell *matHeaderCellDef> Name2 </th>
        <td mat-cell *matCellDef="let element"> {{element.name2}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="weight2">
        <th mat-header-cell *matHeaderCellDef> Weight2 </th>
        <td mat-cell *matCellDef="let element"> {{element.weight2}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="symbol2">
        <th mat-header-cell *matHeaderCellDef> Symbol2 </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol2}} </td>
      </ng-container>

      <ng-container matColumnDef="position3">
        <th mat-header-cell *matHeaderCellDef> No3. </th>
        <td mat-cell *matCellDef="let element"> {{element.position3}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name3">
        <th mat-header-cell *matHeaderCellDef> Name3 </th>
        <td mat-cell *matCellDef="let element"> {{element.name3}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="weight3">
        <th mat-header-cell *matHeaderCellDef> Weight3 </th>
        <td mat-cell *matCellDef="let element"> {{element.weight3}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="symbol3">
        <th mat-header-cell *matHeaderCellDef> Symbol3 </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol3}} </td>
      </ng-container>

      <ng-container matColumnDef="position4">
        <th mat-header-cell *matHeaderCellDef> No4. </th>
        <td mat-cell *matCellDef="let element"> {{element.position4}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name4">
        <th mat-header-cell *matHeaderCellDef> Name4 </th>
        <td mat-cell *matCellDef="let element"> {{element.name4}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="weight4">
        <th mat-header-cell *matHeaderCellDef> Weight4 </th>
        <td mat-cell *matCellDef="let element"> {{element.weight4}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="symbol4">
        <th mat-header-cell *matHeaderCellDef> Symbol4 </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol4}} </td>
      </ng-container>

      <ng-container matColumnDef="position5">
        <th mat-header-cell *matHeaderCellDef> No5. </th>
        <td mat-cell *matCellDef="let element"> {{element.position5}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="name5">
        <th mat-header-cell *matHeaderCellDef> Name5 </th>
        <td mat-cell *matCellDef="let element"> {{element.name5}} </td>
      </ng-container>
    
      
      <ng-container matColumnDef="weight5">
        <th mat-header-cell *matHeaderCellDef> Weight5 </th>
        <td mat-cell *matCellDef="let element"> {{element.weight5}} </td>
      </ng-container>
      <ng-container matColumnDef="symbol5">
        <th mat-header-cell *matHeaderCellDef> Symbol5 </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol5}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
  </div> -->
